<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <div style="text-align: center">
        <a href="/login"><img src="/static/images/fleche_retour.png" style="float: left; margin-right: 10px; margin-left: 25px; margin-top: 25px; width: 30px; height: 30px; border: 1px solid black;"></a>
        <a href="/"><img src="/static/images/home.png" style="float: left; margin-right: 10px; margin-left: 25px; margin-top: 25px; width: 30px; height: 30px; border: 1px solid black;"></a>
        <h1>Bienvenue {{prenom}} dans votre espace</h1>
    </div>
    <div>
        <table>
          <tr>
            <th></th>
            <th>RTT</th>
            <th>Congés payés</th>
          </tr>
          <tr>
            <th>Acquis</th>
            <th>{{a_cp}}</th>
            <th>{{a_rtt}}</th>
          </tr>
          <tr>
            <th>Restant</th>
            <td>{{r_cp}}</td>
            <th>{{r_rtt}}</th>
          </tr>
          <tr>
            <th>Pris</th>
            <td>{{p_cp}}</td>
            <th>{{p_rtt}}</th>
          </tr>
        </table>
    </div>
    <br>
    <br>
    <br>
    <div>
        <table>
            <thead>
            <tr>
              <th>Type</th>
              <th>Dates</th>
              <th>Nombre jours</th>
              <th>Statut</th>
            </tr>
            </thead>
            <tbody>
            {{ rows | safe }}
            </tbody>
        </table>
    </div>

    <a href="/login"><img src="/static/images/ete.png" style="float: left; margin-right: 10px; margin-left: 25px; margin-top: 25px; width: 30px; height: 30px; border: 1px solid black;"></a>

    <style>
      table {
        border: 1px solid black;
        width: 500px;
      }
      th, td {
        border: 1px solid gray;
        padding: 5px;
      }
    </style>
</body>
</html>